<div class="row feed">
	<div class="col-md-3">
		<div ng-hide="currentUser">
			<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login:</h3>
			<br>

			<form name="signInForm">
				<input type="text" size="30" placeholder="Username" ng-model="username" class="form-control input-md" required="required">
				<br>
				<input type="password" size="30" placeholder="Password" ng-model="password" class="form-control input-md" required="required">
				<br>

				<div ng-controller="HomeController">
				<div class="alert alert-danger" ng-show="showFailAlert">
		        	<button type="button" class="close" data-ng-click="switchBool('showFailAlert')">×</button> 
		        	<strong>Fail!</strong> {{failTextAlert}}
	        	</div>
        		</div>

				<button type="button" class="btn btn-primary" ng-click="signin()" ng-disabled="signInForm.$invalid">Sign In!</button>
				<br><br>
				<a href="#/signup">Not a member? Sign up!</a>
			</form>
		</div>

	<div ng-show="currentUser">
			<h3><span class="glyphicon glyphicon-user"></span> Hello, {{currentUser}} !</h3>
			<br><br>
			<a href ng-click="logout()">Log out</a>
			<br><br><br>
			<img src="meow_pic.jpg" class="img-responsive">
	</div>

	</div>
	<div class="col-md-1"></div>

	<div class="col-md-8">

		<div ng-hide="currentUser">
			<img src="meow_pic.jpg" class="img-responsive">
		</div>

		<div ng-show="currentUser">
			<div class="new-meow">
				<input type="text" class="form-control" ng-model='newMeow' placeholder="What do you have to meow today?">
				<button type="button" class="btn btn-primary" ng-click='submitNewMeow()'>Meow!</button>
			</div>
			<h4 ng-repeat = "meow in meows">
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				{{ meow.text }}
				<a href ng-click="removeMeow(meow)" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
				<br>
				<small>By {{meow.username}} </small>
				<small> {{meow.date}} </small>
				<small> {{meow.time}} </small>
			</h4>
		</div>

	</div>
</div>